@import 'tailwindcss';

@config '../../tailwind.config.ts';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
   }
}

*::selection {
        background-color: #893bb3;
}
* {
        scrollbar-color: #7100ae #00000000;
}
@font-face {
        font-family: 'FiraCode';
        src: url('/fonts/FiraCode.woff2') format('woff2'),
                url('/fonts/FiraCode.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}
@font-face {
        font-family: 'CutiveMono';
        src: url('/fonts/CutiveMono.woff2') format('woff2'),
                url('/fonts/CutiveMono.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}
